* {
    box-sizing: border-box
  }

.container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width:500px;
    height: 500px;
    margin: 100px 700px;
}

.item{
    border: 1px solid black;
    height: 25px;
    width: 25px; 
}

.clearButton{
    display: flex;
    margin-top: 0;
}


h1{
    display: flex;
    justify-content: center;
    margin: 100px;
    font-size: 100px;
}





