* {
    box-sizing: border-box
  }

.container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width:500px;
    height: 500px;
    margin-left:700px;
    margin-right: 700px;
    margin-bottom: 40px;
}

.item{
    border: 1px solid black;
    height: 25px;
    width: 25px; 
}

.clearButton{
   margin-left: 880px;
   margin-right: 880px;
   font-size: 30px;
}


h1{
    display: flex;
    justify-content: center;
    margin: 100px;
    font-size: 100px;
}





